{
  "presets": ["next/babel"],
  "plugins": [
    "inline-react-svg",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "typescript", "tsx", "diff"]
      }
    ]
  ]
}
