{
  "presets": ["next/babel"],
  "plugins": [
    "inline-react-svg",
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "typescript", "tsx", "diff"]
      }
    ]
  ]
}
