@import './markdown.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #2c3e50;
}

#__next {
  height: 100%;
  width: 100%;
}

.label {
  font-family: 'Fira Code', monospace;
}

/* @font-face {
  font-family: "fira";
  src: url("../assets/FiraCode-Regular.ttf") format("truetype"),
} */

/* content */
.theme-default-content p,
.theme-default-content td {
  @apply text-gray-600 text-sm;
}
/* description */
.theme-default-content blockquote,
.theme-default-content h3 {
  font-size: 1rem;
  margin: 0;
  padding: 0.25rem 0 0.25rem 1rem;
  @apply bg-gray-100 p-4 text-base border-b-2 border-gray-200 text-gray-600 text-sm;
}
.theme-default-content blockquote > p {
  margin: 0;
}
/* ul child section */
.theme-default-content ul {
  @apply border-b-2 border-gray-200 m-0 p-0;
}
.theme-default-content ul li {
  border-bottom-width: 1px;
  @apply border-gray-100 p-4;
}
/* table child section */
table,
tr,
td {
  @apply border-0;
}
tr {
  @apply border-b-2 border-gray-100;
}
td {
  @apply p-4;
}
.theme-default-content table td:last-child {
  text-align: right;
}
.theme-default-content table {
  @apply border-0 w-full m-0 border-b-2 border-gray-200;
}
.theme-default-content table thead {
  display: none;
}
.theme-default-content table tbody {
  @apply w-full;
}
/* ol section */
.theme-default-content ol {
  @apply p-4 list-decimal list-inside text-sm;
}
.theme-default-content ol li p {
  @apply inline-block;
}
/* code */
.theme-default-content pre {
  @apply m-0;
}
.theme-default-content code {
  font-family: 'Fira Code', monospace;
  @apply bg-transparent text-blue-600 p-0 text-sm m-0;
}
